body {
  background-color: #282828;
  background-size: 60px 60px, 60px 60px;
  background-image: linear-gradient(to right, #404040 2px, transparent 1px), 
    radial-gradient(circle, #444444 1px, rgba(0, 0, 0, 0) 1px);
  background-position: calc(50% - 401px) 0, calc(50% - 430px) 15px;
  background-repeat: repeat-y, repeat;
  color: #c7cccb;
}

header {
  color: rgb(255, 255, 255, 0.08);
  background-color: #404040;
  /* background-size: 30px 30px;
  background-image: radial-gradient(circle, #666666 1px, rgba(0, 0, 0, 0) 1px);
  background-position: calc(50% - 430px) 30px;
  background-repeat: repeat; */
}


.content a {
  color: inherit;
  text-decoration: underline;
}

.content a:hover {
  color: #c389ff;
}

.logo h1 a, .post-header h2, .post-header h2 a {
  color: white;
}

.nav-links a:hover {
  color: #c389ff;
}

p code, li code {
  /* background-color: #222; */
  background-color: #101014;
  border-radius: 2px;
  /* box-shadow: 0 0 0 2px #222; */
  border: 1px solid #1d1d1d;
}

pre {
  border: 1px solid #1d1d1d;
  background-color: #101014;
  border-radius: 2px;
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #333333 1px, rgba(0, 0, 0, 0) 1px);
  background-position: 5px 5px;
}

.light-bg-image img {
  border-radius: 1em;
  background-color: #f0f0f0;
  border: 1px solid #fff;
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #ccc 1px, rgba(0, 0, 0, 0) 1px);
  background-position: 5px 5px;
}

pre code span.k, pre code span.kr, pre code span.kt {
  color: #718fc1;
}

pre code span.mi, pre code span.mh {
  color: #ca7fd1;
}

pre code span.s1, pre code span.s2, pre code span.si, pre code span.sc {
  color: #e4985c;
}

pre code span.cp, pre code span.cpf {
  color: #498f7c;
}

pre code.language-nasm span.kt {
  color: #498f7c;
  font-weight: 200;
}

pre code.language-nasm span.nf {
  color: #718fc1;
  font-weight: 400;
}

pre code.language-nasm span.nl {
  color: #e4985c;
  font-style: italic;
}
