@import url('highlight.css');
body {
    background-color: #172428;
    color: #5fa49f;
    /* color: #427874; */
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #1f3638;
    box-sizing: border-box;
}

.header-container {
    background-color: #171e1c;
    background-clip: padding-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #1f3638;
    box-shadow: 0 2px 0 #171e1c;
}

.footer-container {
    background-color: #171e1c;
    background-clip: padding-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 2px solid #1f3638;
    box-shadow: 0 -2px 0 #171e1c;
    font-family: 'Iosevka Web', sans-serif;
}

.header-container header h1 {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    color: #efd878;
    /* text-align: center; */
}

.header-container nav {
    padding: 0.5rem;
    font-size: 1.2rem;
    color: #efd878;
    /* text-align: center; */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .footer-navigation-left, .footer-container .footer-navigation-right,
    .footer-container .footer-content {
    flex: 0 0 50px;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.footer-container .footer-navigation-left, .footer-container .footer-navigation-right {
    color: #efd878;
}

.footer-container .footer-content {
    flex: 1;
}

.primary-header-container {
    background-position: 24px center;
    background-repeat: no-repeat;
    background-size: 64px 64px;
    padding-left: 6em;
}

.links-container {
    font-family: 'Iosevka Web', sans-serif;
    padding-left: 1rem;
}

.links-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}

a {
    color: #57b6b0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.links-container a, .post-box a {
    color: #efd878;
}

.content-box {
    margin: 2rem;
    padding: 0;
    border: 2px solid #1f3638;
    background-color: #152527;
    /* Outer dark border */
    box-shadow: inset 0 0 0 2px #171e1c, 0 0 0 2px #171e1c;
    border-radius: 10px;
    /* Inner thin lighter border */
}

.content-container, .post-header {
  max-width: 1000px;
  margin: 0 auto;
}

.article-header-container {
  background-color: #152527;
}

.post-header {
  padding: 1rem 0 1rem 4rem;
}

.post-header h2 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  color: #efd878;
  font-family: 'Iosevka Web', sans-serif;
}

.post-box {
    padding: 1rem;
    border: 2px solid #1f3638;
    /* Outer dark border */
    box-shadow: inset 0 0 0 2px #171e1c, 0 0 0 2px #171e1c;
    border-radius: 10px;
    /* Inner thin lighter border */
}

.post-box h2 {
    margin: 0;
    padding: 0 0 0.5rem 0;
    font-size: 1.78rem;
    color: #efd878;
    font-family: 'Iosevka Web', sans-serif;
}

.post-date {
    font-family: 'Iosevka Web', sans-serif;
}

.post-box p {
    margin: 0.5rem 0;
    /* color: #b0c4c4; */

}

/* make every post box after the first one have a margin-top */
.post-box+.post-box {
    margin-top: 1rem;
}

.post-container {
    padding: 1rem;
}

code, pre code {
  font-family: 'Iosevka Web', monospace;
}

p code, li code {
  /* background-color: #222; */
  background-color: #101014;
  border-radius: 0.5rem;
  /* box-shadow: 0 0 0 2px #222; */
  border: 1px solid #1d1d1d;
}

pre {
  padding: 1em;
  margin: 1em;
  font-size: 11pt;
  line-height: 1.2;
  border: 1px solid #1d1d1d;
  background-color: #101014;
  border-radius: 0.5rem;
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #333333 1px, rgba(0, 0, 0, 0) 1px);
  background-position: 5px 5px;
}