/* @import url("webfonts.css"); */
@import url("highlight.css");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Iosevka Aile Web", sans-serif; */
  /* font-family: "Open Sans", serif; */
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 300;
  /* letter-spacing: -1pt; */
  line-height: 1.6;
  padding-top: 60px; /* To offset the fixed header */
}

a {
  text-decoration: none;
  color: #c7cccb;
}

header {
  position: fixed;
  top: -1em;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 1000;
  padding: 10px 0;
  border-bottom: 1px solid #555;
}

header .logo {
  position: relative;
  bottom: -1.5em;
}


header nav {
  font-family: "Iosevka Web", sans-serif;
  letter-spacing: 0;
  font-style: italic;
  font-weight: 300;
  position: relative;
  bottom: -1.9em;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo h1 {
  /* font-family: "Iosevka Aile Web", sans-serif; */
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-size: 32pt;
  font-weight: 600;
  /* letter-spacing: -2pt; */
}

.logo h1 a {
  color: inherit;
}

.logo h1:active {
  color: inherit;
}

nav {
  flex-grow: 1;
  text-align: right;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links a {
  /* text-decoration: none; */
  font-size: 24px;
  color: white;
}

a {
  /* color: white; */
  /* text-decoration: none; */
  /* font-size: 24px; */
  transition: color 0.3s ease;
}

.nav-links a::before {
  content: "\00a0";
}

.nav-links li.current-page a::before {
  content: ">";
}

.nav-links a:hover {
  color: #ff6347;
}

/* main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
} */

main {
  max-width: none;
  padding: 0;
  margin: 0;
}

.content .post-header, article {
  max-width: 900px;
  margin: 0 auto;
}

.content {
  /* margin-top: 40px; */
  /* padding-bottom: 50px; */
}

.content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.content .post-header {
  /* max-width: none !important; */
  padding-left: 2em;
  font-family: "Iosevka Web";
  font-weight: 300;
  letter-spacing: 0;
  font-size: 17pt;
  margin-top: 3em;
  margin-bottom: 2em;
}

.content > .posts {
  padding-top: 3em;
}

.content > .posts > .post-header:last-child {
  margin-bottom: 0;
}

.content > .posts > .post-header:first-child {
  margin-top: 0;
}

.content .post-header .post-age {
  font-style: italic;
}

.content .post-header h2 {
  font-family: "Iosevka Web";
  letter-spacing: -0.8pt;
  font-size: 36pt;
  line-height: 37pt;
  text-indent: -1.45em;
}

.post-content {
  padding: 2em;
}

.pagination {
  display: flex;
}

.pagination-item {
  font-family: "Iosevka Web";
  font-size: 18pt;
}

.pagination .middle {
  flex: 1 0 auto;
}

.pagination .left, .pagination .right {
  flex: 0 0 auto;
}

.content .post-header h2::before {
  content: ">>";
}

.content .post-header .post-length {
  font-size: 14pt;
}

.content {
  font-size: 14pt;
  line-height: 1.6;
}

.content p, .content ul, .content ol {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

ul li, ol li {
  margin-top: 0.5em;
}

.content pre {
  font-size: 11pt;
  line-height: 1.2;
}

.content .small {
  font-size: 11pt;
}

.content img {
  max-width: 90%;
}

ul, ul {
  margin-left: 2em;
}

pre {
  padding: 1em;
  margin: 1em;
}

p code, pre code, ul code, ol code {
  font-family: "Iosevka Web";
  font-weight: 300;
  letter-spacing: 0;
}

pre, p code, li code {
  background-color: rgb(0, 0, 0, 0.03);
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgb(0, 0, 0, 0.03);
}

.socials-list {
  padding-top: 2em;

}

.socials-item {
  box-sizing: border-box;
  max-height: 70px;
  display: block;
}

.socials-item a {
  margin: 1em;
  display: flex;
}

.socials-icon {
  display: inline-block;
}

.socials-icon img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.socials-text {
  display: flex;
  width: 250px;
  align-items: center;
  padding-left: 1em;
  font-size: 24pt;
}

.socials-text span {
  font-family: "Iosevka Web";
  letter-spacing: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links li {
    display: block;
    margin: 10px 0;
  }

  nav {
    text-align: right;
  }

  header {
    position: static;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px;
    top: -1em;
    padding-bottom: 2em;
  }

  header .logo {
    margin-top: auto;
    bottom: -2em;
  }

  header .logo h1 {
    font-size: 38pt;
  }

  main {
    position: relative;
  }

  body {
    padding-top: 0px !important;
  }

  .content h2 {
    font-size: 24px;
  }

  .content p, .content ul li, .content ol li {
    font-size: 16px;
  }

  pre {
    overflow-x: scroll;
  }
}
