@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url('Iosevka-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src: url('Iosevka-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url('Iosevka-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url('Iosevka-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url('Iosevka-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  src: url('Iosevka-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Aile Web';
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src: url('IosevkaAile-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Aile Web';
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  src: url('IosevkaAile-SemiBoldItalic.woff2') format('woff2');
}

/*
@font-face {
  font-family: 'Iosevka Aile Web';
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url('IosevkaAile-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Aile Web';
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url('IosevkaAile-SemiBold.woff2') format('woff2');
}

*/
