<div class="header-container primary-header-container" style="background-image: url('{{ site.baseurl }}/images/globe.png');">
  <header>
    <h1>tomgalvin.uk</h1>
  </header>
</div>
<div class="header-container links-container">
  <nav>
    <ul>
      {% if page.navtype %}
        {% assign navtype = page.navtype %}
      {% else %}
        {% assign navtype = layout.navtype %}
      {% endif %}
      <li{% if navtype == "home" %} class="current-page"{% endif %}><a href="/">Home</a></li>
      <li{% if navtype == "about" %} class="current-page"{% endif %}><a href="/about/">About</a></li>
      <li{% if navtype == "contact" %} class="current-page"{% endif %}><a href="/contact/">Contact</a></li>
    </ul>
  </nav>
</div>