<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if page.title %}
    <title>{{ page.title }} - tomgalvin.uk</title>
  {% else %}
    <title>tomgalvin.uk</title>
  {% endif %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/style/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/style/darkmode.css" | prepend: site.baseurl }}">
</head>
